[Unit]
Description=Interdisciplinar Sementes
After=network.target

[Service]
WorkingDirectory=/lab-sementes-api/
ExecStart= /root/.jbang/currentjdk/bin/java -jar /lab-sementes-api/target/quarkus-app/quarkus-run.jar
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target